.footer {
  background-image: url("/storage/images/background-footer.png");
  padding-bottom: 30px;
  color: #b5b5b5;
}

.footer .info {
  border-bottom: 1px solid #333;
  padding-bottom: 30px;
}

.footer .info .footer-logo {
  padding-bottom: 30px;
  border-bottom: 1px solid #333;
  margin-bottom: 20px;
}

.footer .info .footer-info-title {
  padding-bottom: 20px;
  border-bottom: 1px solid #333;
}

.footer .info .info-item {
  padding: 5px;
}

.footer .info .info-item a {
  color: #b5b5b5;
}

.footer .info .thong-ke {
  border: 1px solid;
  background-color: #009241;
  padding: 10px;
  border-radius: 5px;
  color: white;
  box-shadow: 2px 2px 4px #999999;
  font-weight: bold;
  font-size: 16px;
}

